<% provide(:title, "Magic leadgen rainbows") %>

<h1>Magic leadgen rainbows</h1>
<p>Unicorn is the ultimate leadgen app</p>
<% if !signed_in? %>
	<a href="<%= new_user_session_path %>" class="btn btn-default">Log in</a>
	<a href="<%= new_user_registration_path %>" class="btn btn-primary">Sign up now</a>
<% end %>