<% provide(:title, "Magic leadgen rainbows") %>

<header>
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">Get Productive Today!</div>
            <div class="intro-heading">Free Activity Tracking</div>
            <% if !signed_in? %>
				<a href="<%= new_user_session_path %>" class="btn btn-default">Log in</a>
				<a href="<%= new_user_registration_path %>" class="btn btn-primary">Sign up now</a>
            <% else %>
                <a href="<%= myactivities_path %>" class="btn btn-primary">Start tracking now</a>
			<% end %>
        </div>
    </div>
</header>