<% provide(:title, "Magic leadgen rainbows") %>

<h1>Magic leadgen rainbows</h1>
<p>Unicorn is the ultimate leadgen app</p>
<a href="#" class="btn btn-default">Log in</a>
<a href="#" class="btn btn-primary">Sign up now</a>