<% provide(:title, "List of all activities") %>
<h1>All activities</h1>
<a href="<%= new_admin_activity_path %>" class="btn btn-primary">Add new activity</a>
<% if @activities.any? %>
	<table class="table">
		<%= render partial: 'admin_activities/activity', collection: @activities %>
	</table>
	<%= will_paginate @activities %>
<% end %>