<h1>Welcome to Unicorn!</h1>
<p>
  Thanks for signing up - Unicorn will help you become more efficient.
</p>
<div class="btn"><%= link_to 'Login Now', new_user_session_url %></div>
<p>
  Have a great day - you rock!<br/>
  Octave
</p>