@import "bootstrap";

/* General */

body {
  padding-top: 62px;
  color: #595959;
  background-color: #f2f2f2;
  font-family: "Helvetica Neue",Arial,Helvetica,Verdana,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  vertical-align: baseline;
  line-height: 1.5em;
}

.alert {
  margin-top: 5px;
}

/* Header nav */

#site-navbar {
  height: 62px;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 2000;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
  -webkit-box-shadow: 0 0 2px rgba(6,8,8,0.15);
  box-shadow: 0 0 2px rgba(6,8,8,0.15);
}

#site-navbar li:hover, #site-navbar li:focus {
 background-color: #e0e0e0;
}

#site-navbar li.list-button:hover, #site-navbar lli.list-button:focus {
  background-color: #fff;
}

#site-navbar a {
  position: relative;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.75;
  letter-spacing: .04em;
  color: #3a3a3a;
  padding: 20px 18px;
  display: inline-block;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#site-navbar a.btn {
  padding: 0.75em 1.5em;
  margin-top: 10px;
  font-size: 12px;
  line-height: 1.75;
}

#site-navbar a.pop.btn:hover {
  background: #e85c41;
  border-color: #e85c41;
  color: #fff !important;
}

#site-navbar .navbar-brand {
  padding-top: 5px;
}

/* Text */

h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
  font-weight: bold;
  color: #595959;
  font-family: "Helvetica Neue",Arial,Helvetica,Verdana,sans-serif;
  outline: 0;
}

h1, .h1 {
  font-size: 2.5em;
  line-height: 1.2em;
  margin-bottom: 1.15em;
}

h2, .h2 {
  font-size: 1.625em;
  line-height: 1.15em;
  margin-bottom: .92em;
}

h3, .h3 {
  font-size: 18px;
  line-height: 1.5;
  font-weight: bold;
}

h4, .h4 {
  font-size: 1.125em;
  line-height: 1.67em;
  margin-bottom: .33em;
  font-weight: 500;
}

.actions {
  margin-top: 20px;
}

/* Buttons */

a, a:visited {
  color: #2c9ab7;
  text-decoration: none;
}

.btn {
  background-color: #e0e0e0;
  color: #595959 !important;
}
.btn:hover {
  background-color: #d3d3d3;  
}

.btn-primary {
  background: #5d5c5d;
  border-color: #5d5c5d;
  color: #fff !important;
}
.btn-primary:hover {
  background: #5d5c5d;
  border-color: #5d5c5d;
}

.pop.btn {
  background: #e85c41;
  border-color: #e85c41;
  color: #fff !important;
}

/* Form */

textarea, textarea.form-control {
  padding: 6px 0 0 6px !important;
  height: auto;
  line-height: 1.6em;
}

textarea, textarea.form-control, input[type="text"], input[type="password"], input[type="file"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input, .faux-file {
  display: inline-block;
  padding: 0 .4em 0 .4em;
  vertical-align: middle;
  border-radius: 3px;
  min-width: 50px;
  max-width: 550px;
  width: 100%;
  min-height: 36px;
  background-color: #fff;
  border: 2px solid #c9c9c9;
}

.form-group {
  margin-bottom: 1.5em;
  margin: 0 0 15px 0;
}

.form-actions {
  margin-top: 20px;
  margin-bottom: 15px;
}

div.boolean {
  margin-bottom: 1.2em;
}

.has-error textarea, .has-error input {
  border-color: #a94442;
}

label, input, select, textarea {
  font-family: "Helvetica Neue",Arial,Helvetica,Verdana,sans-serif;
  font-size: 15px;
  line-height: 18px;
  font-weight: normal;
}

input.radio {
  border: 0 none;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  overflow: hidden;
  background-image: image-url('sprites/checkmarks-sprite.png');
}

.help-block {
  font-size: .9em;
}

/* Tables */

table {
  margin-top: 20px;
}

/* User activities */

.user-activity {
	margin: 10px;
}

.user-activity-stopped  {
  background: #d3d3d3;
  border-color: #d3d3d3;
  color: #fff !important;
}
.user-activity-stopped:hover {
  background: #5d5c5d;
  border-color: #5d5c5d;
}

.user-activity-started, .user-activity-started:hover {
  background: #e85c41;
  border-color: #e85c41;
  color: #fff !important;
}
/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}