@import "bootstrap";

/* General */

body { padding-top: 100px; }

header {
  background-image: image-url('header-bg.jpg');
}

/* User activities */

.user-activity {
	margin: 10px;
}

button.user-activity-stopped {
	background-color: #f7f7f7;
}
button.user-activity-started {
	background-color: #fed136;
}
/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}